body {
    /* min-width: 320px; */
    max-width: 1600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    background-color: #f6f6f6;
    overflow-x: hidden;
}

.shift-left-margin {
    margin-left: -200px;
}

.shift-right-margin {
    margin-right: -200px;
}

.container {
    margin-left: 200px;
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    position: relative;
}

a:after {
    display: block;
    position: absolute;
    content: "";
    background: url(./res/arrow0_5x.png) no-repeat;
    height: 13px;
    width: 22px;
    top: 5px;
    right: -30px;
}

.header {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 18px;
}

.features-with-links {
    display: flex;
    flex-direction: column;
}

.features-with-links .feature:not(:nth-child(1)) {
    margin-top: 200px;
}

.feature {
    display: flex;
    align-items: center;
}

.feature .feature__text {
    width: 425px;
}

.feature__text-header+.paragraph {
    margin-top: 10px;
}

.feature__image-container {
    height: auto;
    width: auto;
}

.feature__image {
    height: 100%;
    width: 100%;
}

.feature__text:not(:nth-child(2n)) {
    margin-right: 65px;
}

.feature__text:nth-child(2n) {
    margin-left: 65px;
}

.feature-sport .feature__image {
    max-width: 720px;
    max-height: 480px;
}

.feature-sport-2 .feature__image {
    max-width: 918px;
    max-height: 600px;
}

.feature-atrium .feature__image {
    max-width: 920px;
    max-height: 573px;
}

.wide-photo {
    margin-top: 480px;
    /* height: 100%;
  width: 100%; */
}

.wide-photo__image {
    max-width: 100%;
}

.features-2 {
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-2__feature-image-container {
    height: auto;
    width: auto;
}

.features-2 .features-2__feature-image {
    width: 100%;
}

.features-2__feature {
    flex: 1 1 auto;
}

.features-2__feature:nth-child(2n) {
    max-width: 450px;
}

.features-2__feature:nth-child(2n) .features-2__feature-description {
    max-width: 450px;
}

.features-2__feature:not(:nth-child(2n)) {
    max-width: 660px;
}

.features-2__feature:not(:nth-child(2n)) .features-2__feature-description {
    max-width: 540px;
}

.features-2__feature:nth-child(2) {
    margin-top: 365px;
}

.features-2__feature:nth-child(3) {
    margin-top: -150px;
}

.features-2__feature:nth-child(4) {
    margin-top: 340px;
}

.features-2__feature:nth-child(5) {
    margin-top: -150px;
}

.column-1 {
    columns: auto 1;
}

.column-2 {
    columns: auto 2;
}

.list {
    list-style-type: none;
    padding: 0;
    padding-right: 200px;
}

.list li {
    position: relative;
    margin-left: 17px;
}

.list li:before {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
    top: 15px;
    left: -17px;
    width: 13px;
    height: 2px;
}

@media all and (max-width: 1400px) {
    .small-screen-hide {
        display: none;
    }
    .container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media all and (max-width: 1200px) {
    .feature-sport {
        margin-right: -200px;
    }
    .wide-photo {
        margin-left: 0;
        margin-right: 0;
        margin-top: 300px;
    }
}

@media all and (max-width: 1000px) {
    .features-with-links .feature:not(:nth-child(1)) {
        margin-top: 150px;
    }
    .container {
        margin-left: 60px;
        margin-right: 60px;
    }
    .wide-photo {
        margin-left: 0;
        margin-right: 0;
        margin-top: 190px;
    }
    .feature:not(:nth-child(2n)) {
        flex-wrap: wrap-reverse;
    }
    .feature:nth-child(2n) {
        flex-wrap: wrap;
    }
    .feature-sport {
        margin-right: 0;
    }
    .feature .feature__text {
        width: 720px;
        margin-top: 40px;
        line-height: 25px;
        margin-right: 0;
        margin-left: 0;
    }
    .shift-left-margin {
        margin-left: 0;
    }
    .shift-right-margin {
        margin-right: 0;
    }
    .features-2__feature:not(:nth-child(1)) {
        margin-top: 85px;
    }
    .features-2 .features-2__feature {
        max-width: 100%;
    }
    .list {
        padding: 0;
    }
}

@media all and (max-width: 760px) {
    .features-with-links .feature:not(:nth-child(1)) {
        margin-top: 100px;
    }
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
    .wide-photo {
        margin-left: 0;
        margin-right: 0;
        margin-top: 150px;
    }
    .feature-sport .feature__image {
        max-width: 680px;
        max-height: 450px;
    }
}

@media all and (max-width: 320px) {
    body {
        margin-top: 108px;
    }
    .features-with-links .feature:not(:nth-child(1)) {
        margin-top: 65px;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .feature-sport .feature__image {
        max-width: 315px;
        max-height: 215px;
    }
    .feature .feature__text,
    .features-2__feature-description {
        padding-left: 20px;
        padding-right: 20px;
    }
    .wide-photo {
        margin-top: 80px;
    }
}